@model POO_DirectorioMVC.Models.Persona

@{
    string nombre = Model.getNombres();
    string apellido = Model.getApellidos();
  
}


<h1>Información de la Persona</h1>
<p>Nombre: @Model.getNombres()</p>
<p>Apellido: @Model.getApellidos()</p>

