@{
    ViewData["Title"] = "Politica de privacidad";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
<div class=" row">
    <div class="col ">
            <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
</div>


